<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<br/>
{{> pagination url="/admin/word_categories" label="Word categories"}}

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th> Действия </th>
            <th> Название </th>
        </tr>
    </thead>
    {{#each WordCategories}}
        <tr>
            <td>
                <a href="/admin/word_categories/{{this.Id}}" title="Просмотр">
                    <i class="fas fa-eye"></i>
                </a> 
                <a href="/admin/word_categories/{{this.Id}}/edit" title="Редактирование">
                    <i class="fas fa-edit"></i>
                </a>
                <a href="/admin/word_category_delete/{{this.Id}}?page={{../Pagination.Current}}" title="Удаление">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            <td> {{this.Name}} </td>
        </tr>
    {{/each}}
</table>
