<table border="1px">
    {{#each Body}}
        <tr>
            <td> {{this.ValueFrom}} </td>
            <td> {{this.ValueTo}} </td>
            <td> {{this.LanguageFrom}} </td>
            <td> {{this.LanguageTo}} </td>
            <td> {{this.OriginUrl}} </td>
        </tr>
    {{/each}}
</table>