<table border="1px">
    <tr>
        <td> Слово </td>
        <td> {{this.ValueFrom}} </td>
    </tr>
    <tr>
        <td> Перевод </td>
        <td> {{this.ValueTo}} </td>
    </tr>
    <tr>
        <td> Исходный язык </td>
        <td> {{this.LanguageFrom}} </td>
    </tr>
    <tr>
        <td> Язык перевода </td>
        <td> {{this.LanguageTo}} </td>
    </tr>
    <tr>
        <td> Ссылка для отображения </td>
        <td> {{this.DownloadUrl}} </td>
    </tr>
    <tr>
        <td> Исходная ссылка </td>
        <td> {{this.OriginUrl}} </td>
    </tr>
</table>