<table border="1px">
    <tr>
        <th> Действия </th>
        <th> Слово </th>
        <th> Перевод </th>
        <th> Исходный язык </th>
        <th> Язык перевода </th>
        <th> Ссылка для отображения </th>
        <th> Исходная ссылка </th>
    </tr>
    {{#each Body}}
        <tr>
            <td>
                <a href="/admin/translations/{{this.Id}}"> view </a> 
                <a href="#"> edit </a>
                <a href="/admin/translation-delete/{{this.Id}}"> delete </a>
            </td>
            <td> {{this.ValueFrom}} </td>
            <td> {{this.ValueTo}} </td>
            <td> {{this.LanguageFrom}} </td>
            <td> {{this.LanguageTo}} </td>
            <td> {{this.DownloadUrl}} </td>
            <td> {{this.OriginUrl}} </td>
        </tr>
    {{/each}}
</table>