<table border="1px">
    <tr>
        <td> {{I18.Table.Titles.Russian}} </td>
        <td> {{Translation.Russian}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.English}} </td>
        <td> {{Translation.English}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.LanguageTo}} </td>
        <td> {{Translation.LanguageTo}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.PartOfSpeech}} </td>
        <td> {{Translation.PartOfSpeech}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.Frequency}} </td>
        <td> {{Translation.Frequency}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.DownloadUrl}} </td>
        <td> 
            <a href="{{this.DownloadUrl}}">{{Translation.DownloadUrl}}</a>
            <br/>
            <img src="{{this.DownloadUrl}}" style="max-width: 300px;" />
        </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.OriginUrl}} </td>
        <td> <a href="{{this.OriginUrl}}">{{Translation.OriginUrl}}</a> </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.IsChecked}} </td>
        <td> {{Translation.IsChecked}} </td>
    </tr>
</table>