<table border="1px">
    <tr>
        <td> {{I18.Table.Titles.ValueFrom}} </td>
        <td> {{ValueFrom}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.ValueTo}} </td>
        <td> {{ValueTo}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.LanguageFrom}} </td>
        <td> {{LanguageFrom}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.LanguageTo}} </td>
        <td> {{LanguageTo}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.PartOfSpeech}} </td>
        <td> {{PartOfSpeech}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.Frequency}} </td>
        <td> {{Frequency}} </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.DownloadUrl}} </td>
        <td> 
            <a href="{{this.DownloadUrl}}">{{DownloadUrl}}</a>
            <br/>
            <img src="{{this.DownloadUrl}}" style="max-width: 300px;" />
        </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.OriginUrl}} </td>
        <td> <a href="{{this.OriginUrl}}">{{OriginUrl}}</a> </td>
    </tr>
    <tr>
        <td> {{I18.Table.Titles.IsChecked}} </td>
        <td> {{IsChecked}} </td>
    </tr>
</table>