<html>
    <head>
        <title>Express handlebars</title>
        <link rel="shortcut icon" href="/eng.svg" type="image/x-icon" />
        <link rel="stylesheet" type="text/css" href="/main.css">
        <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
        <script src="/jquery.js"></script>

        <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.4/dist/latest/bootstrap-autocomplete.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
        <script src="/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">{{I18MainLayout.Menu.Home}}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{I18MainLayout.Menu.User.Title}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">{{I18MainLayout.Menu.User.Login}}</a>
                            <a class="dropdown-item" href="/signup">{{I18MainLayout.Menu.User.Signup}}</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout">{{I18MainLayout.Menu.User.Logout}}</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{I18MainLayout.Menu.Admin.Title}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/admin/translations">{{I18MainLayout.Menu.Admin.Translations}}</a>
                            <a class="dropdown-item" href="/admin/translation_add">{{I18MainLayout.Menu.Admin.AddTranslation}}</a>
                            <a class="dropdown-item" href="/admin/word_categories">{{I18MainLayout.Menu.Admin.WordCategories}}</a>
                            <a class="dropdown-item" href="/admin/word_category_add">{{I18MainLayout.Menu.Admin.AddWordCategory}}</a>
                            <a class="dropdown-item" href="/admin/users">{{I18MainLayout.Menu.Admin.Users}}</a>
                            <a class="dropdown-item" href="/admin/user_add">{{I18MainLayout.Menu.Admin.AddUser}}</a>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="#">{{I18MainLayout.Menu.Learning.LearnWords}}</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{I18MainLayout.Menu.ChangeLanguage.Title}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/change_language?language=RU">Русский</a>
                            <a class="dropdown-item" href="/change_language?language=EN">English</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        {{{body}}}
    </body>
</html>